<section class="roster">
  <section class="controls-section" *ngIf="characters.length > 0">
    <section class="filter-buttons">
      <div class="filter mains" [class.activated]="filterMains" (click)="toggleMainsFilter()">Mains</div>
      <div class="filter main-alts" [class.activated]="filterMainAlts" (click)="toggleMainAltsFilter()">Main Alts</div>
      <div class="filter alts" [class.activated]="filterAlts" (click)="toggleAltsFilter()">Alts</div>
    </section>
    <div class="copy" [class.copied]="copied" (click)="copyToClipboard()"><i class="far fa-copy"></i></div>
  </section>
  <main class="table">
    <div class="header" *ngIf="characters.length > 0">
      <div class="item name">Character Name</div>
      <div class="item level">Level</div>
      <div class="item eq-class">Class</div>
      <div class="item rank">Rank</div>
      <div class="item note">Public Note</div>
    </div>
    <hr *ngIf="characters.length > 0">
    <div class="row" *ngFor="let character of characters | roster:filterMains:filterMainAlts:filterAlts">
      <div class="item name">{{ character.name }}</div>
      <div class="item level">{{ character.level }}</div>
      <div class="item eq-class">{{ character.eqClass }}</div>
      <div class="item rank">{{ character.rank }}</div>
      <div class="item note">{{ character.note }}</div>
    </div>
  </main>
</section>