.roster {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .controls-section {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    .filter-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      .filter {
        height: 39px;
        padding: .5rem 1.25rem;
        border: 2px solid rgb(99, 164, 64);
        border-radius: 6px;
        color: rgb(99, 164, 64);
  
        &:hover {
          cursor: pointer;
        }
      }
      .main-boxes, .alts {
        margin-left: 15px;
      }
      .activated {
        background-color: rgb(99, 164, 64);
        color: rgb(255, 255, 255);
      }
    }
    .copy {
      font-size: 2.5rem;
      margin-left: 25px;
      width: 50px;

      &:hover {
        cursor: pointer;
        color: rgb(99, 164, 64);
      }
    }
    .copied {
      color: white;

      &:hover {
        color: white;
      }
    }
  }
  .table {
    width: 60%;
    margin-top: 25px;
    .header, .row {
      display: flex;
      justify-content: space-between;
      .item {
        display: inline-block;
        color: rgb(255, 255, 255);
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.5rem;
      }
      .name {
        padding-left: 5px;
      }
      .level {
        max-width: 75px;
        text-align: center;
      }
      .eq-class {
      }
      .rank {
      }
      .note {
      }
    }
    .header {
      .item {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    .row:nth-child(odd) {
      background-color: rgb(52, 59, 65);
    }
    .row:nth-child(even) {
      background-color: rgb(58, 65, 73);
    }
    hr {
      border: 2px solid rgb(99, 164, 64);
    }
  }
}